body{
    background-color:white;
    color:black;
    
  }
  .title{
    margin-left:0;
    font-size:15px;
    font-weight:bold;
    margin-top:50px;
    color:blue;
  }
  .move-icon{
    height:50px;
    transition: transform 0.5s;
  }
  .move-icon:hover{
    color:blue;
    transform:translateY(-50px);
    
  }
  .move-button{
    background-color:transparent;
    border:none;
    
    width:120px;
    height:120px;
    border-radius:60px;
    margin-right:10px;
    cursor:pointer;
    transition: transform 0.5s;
  }


  .result{
    font-size: 25px;
    font-weight: bold;
    margin-top:50px;

  }
  .moves{
    font-size: 25px;
    font-weight: bold;
  }
  .score{
    font-size: 20px;
    font-weight:normal;

  }
  .reset-button{
    margin-top:30px;
    border:rgb(206, 13, 13) 0.1rem solid;
    cursor:pointer;
    padding:10px;
    border-radius:25px;
    font-weight: bold;
    background-color:red;
    color:white;
    
  }
  .reset-button:hover{
    background: white;
    color:black;
  }
  .container{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-left: 0;
  }
  @media screen and (max-width: 600px){
    .titled{
        margin-top:50px;
    }
    .buttons{
      margin-top:50px;
    }
    .result{
      margin-top:50px;
    }
    .moves{
      margin-top:50px;
    }
    .score{
      margin-top:50px;
    }
  }